@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
  margin: 0;
}

.map-container {
  @apply w-full h-full;
}

.maplibregl-popup-content {
  @apply text-sm;
}




